h1 {
  margin: 0 0 25px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

button {
  background: #39a1e7;
  width: 100%;
}

a {
  display: block;
  text-align: center;
  cursor: pointer;
  color: #5e7386;
  font-size: 12px;
  font-style: italic;
  text-decoration: none;
}

.auth-form {
  background: #fff;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  border: 1px solid #c1cedb;
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
}

.auth-form__action {
  margin: 10px 0 30px;
}

.auth-form__toggle {
  border-radius: 0 0 3px 3px;
  border-top: 1px solid #c1cedb;
  background: #f8fafc;
  padding: 10px;
  margin: 0 -30px -30px;
}

.error {
  color: #a94442;
  background: #f2dede;
  border: 1px solid #e4b3b3;
  border-radius: 2px;
  padding: 8px;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  margin: 10px 0 0;
}
